compton --config ~/.config/compton.conf &
xsetroot -cursor_name left_ptr
numlockx &
urxvtd -q -f &
export PATH=$PATH:/home/couch/.panel
# -R restores the last colorscheme that was in use.
wal -R -a 80
